/* 
================================================
Variables
================================================
*/
:root {
	/*_______ Font Family _______*/
	--primary-font: "nunito-sans", sans-serif;
	--secondary-font: "source-serif-pro", serif;
	--third-font: "merriweather", serif;

	/*________ Font Size ________*/
	--size-6xl: 88px;
	--size-5xl: 57px;
	--size-4xl: 40px;
	--size-3xl: 26px;
	--size-2xl: 20px;
	--size-xl: 18px;
	--size-lg: 16px;
	--size-md: 14px;
	--size-sm: 12px;

	/*________ Text Color ________*/
	--primary-color: #ffffff;
	--secondary-color: #00205b;
	--text-color3: #2e2e2e;
	--text-color4: rgba(255, 255, 255, 0.25);
	--text-color5: rgba(0, 32, 91, 0.25);
	--text-color6: rgba(255, 255, 255, 0.6);
	--text-color7: #97b2e6;
	--text-color8: #e87722;

	/*_________ BG Color _________*/
	--primary-bg: #ffffff;
	--secondary-bg: #e87722;
	--bg-color3: #00205b;
	--bg-color4: rgba(255, 255, 255, 0.5);
	--bg-color5: rgba(0, 0, 0, 0.25);
	--bg-color6: rgba(0, 32, 91, 0.8);
	--bg-color7: #97b2e6;

	/*_______ Border Color _______*/
	--primary-border: #e87722;
	--secondary-border: #ffffff;
	--third-border: rgba(255, 255, 255, 0.25);
	--four-border: #eaeaea;
}

/* 
================================================
Variables
================================================
*/

/* 
===============================================
Bacic Setup
===============================================
*/
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: var(--primary-font);
	font-size: var(--size-xl);
	color: var(--text-color3);
	line-height: 1.55;
	font-weight: 400;
	background-color: var(--primary-bg);
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--secondary-font);
	font-weight: normal;
	color: var(--primary-bg);
	font-style: normal;
	font-weight: 600;
}
/* margin top */
.mt-35 {
	margin-top: 35px;
}
.mt-40{
	margin-top: 40px;
}

/* margin-bottom */
.mb-35 {
	margin-bottom: 35px;
}
.mb-100 {
	margin-bottom: 100px;
}

/* padding left */
.pl-38 {
	padding-left: 38px;
}
.pl-70 {
	padding-left: 70px;
}
/* padding top */
.pt-80 {
	padding-top: 80px;
}
.pt-90 {
	padding-top: 90px;
}
.pt-120 {
	padding-top: 120px;
}
.pt-165 {
	padding-top: 165px;
}
.pt-185 {
	padding-top: 185px;
}

/* padding-bottom */
.pb-65 {
	padding-bottom: 65px;
}
.pb-110 {
	padding-bottom: 110px;
}
.pb-150 {
	padding-bottom: 150px;
}
.pb-185 {
	padding-bottom: 185px;
}

/* section-padding */
.section-padding {
	padding: 125px 0;
}
.section-padding-sm {
	padding: 80px 0;
}

/* gutter */
.gutter-all-40 {
	--bs-gutter-x: 40px;
	--bs-gutter-y: 40px;
}
.gutter-70 {
	--bs-gutter-x: 70px;
}
.gutter-106 {
	--bs-gutter-x: 106px;
}
/* gap */
.gap-106 {
	gap: 106px;
}
/* container */
.container {
	max-width: 1134px;
}
.container-lg {
	max-width: 1466px;
}
.container-md{
	max-width: 1314px;
}
.container-xl {
	max-width: 1580px;
}
/* font weight */
.f-900 {
	font-weight: 900;
}
.f-800 {
	font-weight: 800;
}
.f-700 {
	font-weight: 700;
}
.f-600 {
	font-weight: 600;
}
.f-500 {
	font-weight: 500;
}
.f-400 {
	font-weight: 400;
}
.f-300 {
	font-weight: 300;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: var(--bg-color3);
}

::-webkit-scrollbar-thumb {
	background-color: var(--secondary-bg);
	height: 60px;
	border-radius: 50px;
}

a,
span,
label {
	display: inline-block;
}

a,
a:focus {
	text-decoration: none;
}

button,
input,
textarea {
	outline: 0;
	border: 0;
	background-color: transparent;
}

button {
	cursor: pointer;
}

hr {
	opacity: 1;
	background-color: transparent;
}
.z-index-1 {
	z-index: 1;
}

.z-index-2 {
	z-index: 2;
}
.z-index-3 {
	z-index: 3;
}
.z-index-4 {
	z-index: 4;
}

/* background property  */

.bg-property {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ddd;
}
/* 
===================================
Font Family
===================================
*/
.primary-font {
	font-family: var(--primary-font);
}

.secondary-font {
	font-family: var(--secondary-font);
}

.third-font {
	font-family: var(--third-font);
}

/* 
===================================
Font Size
===================================
*/
.size-6xl {
	font-size: var(--size-6xl);
	line-height: 1.047;
}

.size-5xl {
	font-size: var(--size-5xl);
	line-height: 1.14;
}

.size-4xl {
	font-size: var(--size-4xl);
	line-height: 1.05;
}

.size-3xl {
	font-size: var(--size-3xl);
	line-height: 1.5;
}

.size-2xl {
	font-size: var(--size-2xl);
	line-height: 1.3;
}

.size-xl {
	font-size: var(--size-xl);
	line-height: 1.555;
}

.size-lg {
	font-size: var(--size-lg);
	line-height: 1.437;
}

.size-md {
	font-size: var(--size-md);
	line-height: 1.5;
}

.size-sm {
	font-size: var(--size-sm);
	line-height: 1.5;
}

/* 
===================================
Text Color
===================================
*/
.primary-color {
	color: var(--primary-color);
}

.secondary-color {
	color: var(--secondary-color);
}

.text-color3 {
	color: var(--text-color3);
}

.text-color4 {
	color: var(--text-color4);
}

.text-color6 {
	color: var(--text-color6);
}
.text-color7 {
	color: var(--text-color7);
}
.text-color8 {
	color: var(--text-color8);
}

/* 
===================================
BG Color
===================================
*/
.primary-bg {
	background-color: var(--primary-bg);
}

.secondary-bg {
	background-color: var(--secondary-bg);
}

.bg-color3 {
	background-color: var(--bg-color3);
}

.bg-color4 {
	background-color: var(--bg-color4);
}

/* 
=========================================
Start Reuseble Css Classes
=========================================
*/
.p-mb-0 p {
	margin-bottom: 0;
}

.fw-extra-bold {
	font-weight: 800;
}

.t-linear {
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

a,
button,
img,
svg,
svg path,
span,
.t-ease-in-out {
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* 
=========================================
End Reuseble Css Classes
=========================================
*/

/* 
=========================================
Start Reuseble Components
=========================================
*/
.sec-title {
	font-family: var(--secondary-font);
	font-size: var(--size-5xl);
	color: var(--secondary-color);
	font-weight: 600;
	text-transform: capitalize;
	line-height: 1.14;
}

.paragraph {
	font-family: var(--primary-font);
	font-size: var(--size-xl);
	color: var(--text-color3);
	font-weight: 400;
	line-height: 1.555;
}

.bg-btn {
	font-family: var(--primary-font);
	font-size: var(--size-2xl);
	color: var(--primary-color);
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1.3;
	padding: 17px 30px;
	background-color: var(--secondary-bg);
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	border-radius: 30px;
}

.bg-btn:hover {
	padding-left: 38px;
	padding-right: 38px;
}

.section-shape {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
}

.social-link {
	gap: 15px;
}

.social-link .social-link-item {
	width: 26px;
	height: 26px;
}

.social-link .social-link-item:hover {
	background-color: var(--bg-color7);
}

.scroll-up-btn {
	position: fixed;
	right: 30px;
	bottom: 30px;
	height: 56px;
	width: 56px;
	cursor: pointer;
	display: block;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 0 0 3px rgba(95, 58, 252, 0.4);
	box-shadow: inset 0 0 0 3px rgba(95, 58, 252, 0.4);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(1.5rem);
	-ms-transform: translateY(1.5rem);
	transform: translateY(1.5rem);
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

.scroll-up-btn.active-progress {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.scroll-up-btn .arrow-up {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.scroll-up-btn svg path {
	fill: none;
}

.scroll-up-btn svg.progress-circle path {
	stroke: #e87722;
	stroke-width: 5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

/* 
=========================================
End Reuseble Components
=========================================
*/

/* 
=========================================
Start Header Section
=========================================
*/
.header-logo {
	position: absolute;
	top: 26px;
	left: 0;
	z-index: 11;
	width: 100%;
	max-width: 379px;
	border-radius: 0 100px 100px 0;
	padding: 12px 49px 12px 0;
	opacity: 0.83;
	background-color: rgba(255, 255, 255, 0.83);
}

.open-menu-btn {
	position: fixed;
	top: 46px;
	right: 120px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: 1px solid var(--third-border);
	z-index: 999;
}

.hamburger {
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.hamburger .line {
	border-radius: 30px;
	width: 26px;
	height: 3px;
	background-color: var(--primary-bg);
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.hamburger .line2 {
	margin: 6px 0;
}

.hamburger .line3 {
	width: 19px;
}

.toggle .line1 {
	-webkit-transform: rotate(-45deg) translate(-7px, 8px);
	-ms-transform: rotate(-45deg) translate(-7px, 8px);
	transform: rotate(-45deg) translate(-7px, 8px);
}

.toggle .line3 {
	-webkit-transform: rotate(45deg) translate(-5px, -6px);
	-ms-transform: rotate(45deg) translate(-5px, -6px);
	transform: rotate(45deg) translate(-5px, -6px);
	width: 26px;
}

.toggle .line2 {
	-webkit-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	width: 0;
}

.nav-bar {
	position: fixed;
	top: -1560px;
	right: -1560px;
	z-index: 99;
	background-color: var(--primary-bg);
	height: 1570px;
	width: 1570px;
	border-radius: 50%;
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
	pointer-events: none;
}

.nav-bar.open {
	pointer-events: all;
	top: -780px;
	right: -780px;
}

.main-menu-wrap .main-menu,
.main-menu-wrap .menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu-wrap {
	position: absolute;
	left: 318px;
	bottom: 254px;
}

.main-menu .main-menu-item:not(:last-child) {
	margin-bottom: 10px;
}

.main-menu .main-menu-item .main-menu-link {
	font-family: var(--third-font);
	font-size: 49px;
	line-height: 1.428;
	color: var(--secondary-color);
	text-transform: capitalize;
}

.main-menu .main-menu-item:nth-child(1) {
	-webkit-transition-delay: 1s;
	-o-transition-delay: 1s;
	transition-delay: 1s;
}

.main-menu-wrap .menu {
	margin: 25px 0;
}

.menu .menu-item:not(:last-child) {
	margin-right: 38px;
}

.menu .menu-item .menu-link {
	font-family: var(--third-font);
	font-size: 24px;
	line-height: 1.5;
	color: var(--secondary-color);
	text-transform: capitalize;
}

.main-menu .main-menu-item .main-menu-link,
.menu .menu-item .menu-link {
	position: relative;
}

.main-menu .main-menu-item .main-menu-link::after,
.menu .menu-item .menu-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: var(--secondary-bg);
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
}

.main-menu .main-menu-item .main-menu-link:hover::after,
.menu .menu-item .menu-link:hover::after {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.nav-social .social-link-item:hover {
	background-color: var(--secondary-bg);
}

.nav-social .social-link-item img {
	-webkit-filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(241deg) brightness(108%) contrast(101%);
	filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(241deg) brightness(108%) contrast(101%);
}

.nav-bar .main-menu .main-menu-item,
.nav-bar .menu .menu-item,
.nav-social {
	opacity: 0;
	-webkit-transform: translateY(70px);
	-ms-transform: translateY(70px);
	transform: translateY(70px);
}

.nav-bar.open .main-menu .main-menu-item,
.nav-bar.open .menu .menu-item,
.nav-bar.open .nav-social {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: opacity, transform;
	transition-property: opacity, transform;
	transition-property: opacity, transform, -webkit-transform;
	-webkit-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.nav-bar.open .main-menu .main-menu-item:nth-child(1) {
	transition-delay: 0.5s;
}

.nav-bar.open .main-menu .main-menu-item:nth-child(2) {
	transition-delay: 0.7s;
}

.nav-bar.open .main-menu .main-menu-item:nth-child(3) {
	transition-delay: 0.9s;
}

.nav-bar.open .main-menu .main-menu-item:nth-child(4) {
	transition-delay: 1.1s;
}

.nav-bar.open .menu .menu-item {
	transition-delay: 1.3s;
}

.nav-bar.open .nav-social {
	transition-delay: 1.5s;
}

/* 
=========================================
End Header Section
=========================================
*/

/* 
=========================================
Start Hero Section
=========================================
*/
.hero-section {
	padding: 60px 0 244px;
}

.hero-wrapper {
	padding: 60px;
	width: 774px;
	min-height: 774px;
	border: 1px solid var(--secondary-border);
	border-radius: 50%;
}

.hero-content .hero-desc {
	margin-bottom: 92px;
}

.explore-btn {
	margin-top: 20px;
	padding-top: 37px;
}

.explore-btn .explore-btn-icon {
	height: 28px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.explore-btn-icon img {
	height: 100%;
}

.explore-btn:hover .explore-btn-icon {
	height: 32px;
}

.hero-slider .owl-dots {
	position: absolute;
	left: 50px;
	bottom: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.hero-slider .owl-dots button span {
	cursor: pointer;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid var(--secondary-border);
	opacity: 0.5;
	margin: 0 2px;
}

.hero-slider .owl-dots button.active span {
	opacity: 1;
}
.hero-section {
	position: relative;
}
.hero-bg {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	z-index: 1;
}
.hero-slider .owl-stage-outer .owl-stage .owl-item .hero-bg,
.hero-slider .owl-stage-outer .owl-stage .owl-item,
.hero-slider .owl-stage-outer .owl-stage,
.hero-slider .owl-stage-outer {
	height: 100%;
}
.hero-bg:after {
	content: "";
	height: 100%;
	width: 100%;
	background-color: var(--bg-color3);
	position: absolute;
	opacity: 0.5;
	mix-blend-mode: multiply;
	top: 0;
	left: 0;
	z-index: 2;
}
/* 
=========================================
End Hero Section
=========================================
*/

/* 
=========================================
Start Listen-Learn-Build Section
=========================================
*/
.listen-learn-build-sec {
	margin-top: 85px;
	overflow: hidden;
}

.l-l-b-bg {
	width: 50%;
	height: 100%;
	position: relative;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 11;
}

.l-l-b-content {
	padding-top: 80px;
	padding-bottom: 118px;
	padding-left: 100px;
	z-index: 11;
}

.l-l-b-content .l-l-b-desc {
	margin: 15px 0 35px;
}

.l-l-b-circle {
	position: absolute;
	right: -142px;
	bottom: -208px;
	width: 665px;
	height: 665px;
	border: 1px solid var(--four-border);
	z-index: 1;
}

/* 
=========================================
End Listen-Learn-Build Section
=========================================
*/

/* 
=========================================
Start ICB-Testimonial Section
=========================================
*/
.icb-testimonial-sec {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-color: var(--bg-color3);
}
.icb-testimonial-circle {
	width: 665px;
	height: 665px;
	border: 1px solid var(--third-border);
	position: absolute;
	top: -327px;
	left: -105px;
	z-index: 1;
}

.icb-testimonial-wrapper {
	padding: 179px 70px 200px;
	background: transparent -o-linear-gradient(347deg, #00205b00 0%, #00205bc9 13%, #00205b 67%, #00205b2f 100%) 0% 0% no-repeat padding-box;
	background: transparent linear-gradient(103deg, #00205b00 0%, #00205bc9 13%, #00205b 67%, #00205b2f 100%) 0% 0% no-repeat padding-box;
}
.icb-testimonial-quote {
	margin-top: -95px;
	margin-right: -20px;
}

.icb-testimonial {
	z-index: 11;
}

.icb-testimonial .icb-testimonial-desc {
	margin-bottom: 33px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.icb-testimonial .icb-testimonial-bottom {
	padding-left: 32px;
}

.icb-testimonial-bottom .icb-testimonial-desc1::before {
	content: "";
	position: absolute;
	left: -31px;
	bottom: 13px;
	z-index: 11;
	width: 21px;
	height: 2px;
	background-color: var(--primary-bg);
}
.bg-pattern {
	background-size: cover;
	background-position: center;
}
/* 
=========================================
End ICB-Testimonial Section
=========================================
*/

/* 
=========================================
Start Services Section
=========================================
*/

.services-sec {
	position: relative;
	padding: 80px 0 135px;
	background-color: #f4f4f4;
}
.services-sec .section-shape {
	bottom: calc(100% - 2px);
}

.services-bg {
	height: calc(100% + 250px);
	background-size: cover;
	background-position: top center;
}
.services-sec-title {
	max-width: 734px;
	margin-bottom: 62px;
}

.services-wrapper {
	min-height: 414px;
}

.services-sec-title .sec-title {
	margin-bottom: 2px;
}

.services {
	width: 414px;
	height: 414px;
	padding: 15px;
	position: absolute;
	top: 0;
}

.services-wrapper .services:nth-child(1) {
	left: 0;
	z-index: 1;
}

.services-wrapper .services:nth-child(2) {
	z-index: 11;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
}

.services-wrapper .services:nth-child(3) {
	right: 0;
	z-index: 1;
}

.services .services-img {
	margin-bottom: 15px;
}

.services-btn {
	margin-top: 49px;
}

/* 
=========================================
End Services Section
=========================================
*/

/* 
=========================================
Start Partners Section
=========================================
*/
.partners-sec {
	padding: 120px 0;
	overflow: hidden;
}

.partners-sec-title {
	max-width: 734px;
	margin-bottom: 47px;
}

.partners-slider .owl-stage-outer {
	overflow: inherit;
}
.partners-slider .owl-stage-outer .owl-stage {
	transition-timing-function: linear !important;
}
/* 
=========================================
End Partners Section
=========================================
*/

/* 
=========================================
Start Time-Talk Section
=========================================
*/
.time-talk-sec {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 120px 0 160px;
	overflow: hidden;
}

.time-talk-sec::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-color6);
}

.time-talk-circle {
	position: absolute;
	left: 50%;
	bottom: 53px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 1234px;
	height: 1234px;
	border: 1px solid var(--secondary-border);
	z-index: 1;
}

.time-talk-sec-title {
	max-width: 750px;
	z-index: 11;
}

.time-talk-sec-title .sec-title {
	margin-bottom: 4px;
}

.time-talk-sec-title .sec-title,
.time-talk-sec-title .time-talk-sec-desc {
	color: var(--primary-color);
}

.time-talk-sec-title .time-talk-sec-desc {
	margin-bottom: 54px;
}

/* 
=========================================
End Time-Talk Section
=========================================
*/

/* #### nsihan write a code #####*/

/* ==== gobal css ==== */

/* title */
.title-one {
	font-size: 70px;
	line-height: 0.92;
}
.title-two {
	font-size: 50px;
	line-height: 1.2;
}
.title-three {
	font-size: 30px;
	line-height: 1.15;
}

/* btn */
.btn-2 {
	border: 2px solid #e87722;
	display: inline-block;
	font-size: 20px;
	line-height: 0.76;
	color: var(--primary-color);
	background: transparent;
	font-weight: 900;
	padding: 24px 31px 19px 31px;
	border-radius: 50px;
	transition: 0.45s;
}
.back-btn {
	color: #e87722;
	font-weight: 900;
	display: inline-block;
	display: flex;
	align-items: center;
	transition: 0.45s;
}
.back-btn:hover , .back-btn:hover svg path{
	color: var(--primary-color);
}
.back-btn:hover svg path {
	stroke: #fff;
}
.back-btn span {
	padding-left: 8px;
}

/*=== about section start=== */

/* hero area */
.hero-section-2 {
	width: 100%;
	height: 557px;
	z-index: 1;
}
.hero-section-2::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #00205b;
	opacity: 60%;
	z-index: -1;
}
.hero-section-2 {
	padding: 227px 0px 210px;
}
.hero-section-2 h1 {
	line-height: 0.95;
}
/* leadership area */
.leadership-card p {
	font-size: 28px;
	font-weight: 900;
	line-height: 1.11;
	color: #fff;
}
/* vision area */
.vision-area {
	background-color: #fff;
}
.vision-img {
	box-shadow: 15px 15px 15px rgba(0, 0, 0, 13%);
}

/* building section  */
.building-people-content {
	max-width: 986px;
}

/* testimonial area */
.about-testimonial .icb-testimonial-bottom .icb-testimonial-desc1::before {
	display: none;
}
.about-testimonial .icb-testimonial-wrapper {
	padding: 179px 45px 200px;
}

/* process-area  */
.process-card {
	max-width: 494px;
	height: 494px;
	background: #fff;
	border-radius: 100%;
	padding: 52px 78px;
}
.process-card .icon-wrap {
	width: 116px;
	height: 116px;
	position: absolute;
	top: -58px;
	left: 50%;
	margin-left: -58px;
	background: var(--secondary-bg);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	transition: 0.45s;
}
.process-card .icon-wrap:hover {
	background: var(--bg-color3);
}
.arrow {
	height: 97px;
	width: 97px;
	position: absolute;
}
.arrow-1 {
	bottom: 99px;
	left: calc(100% + 39px);
}
.arrow-2 {
	right: 50%;
	bottom: calc(100% + 83px);
	transform: rotate(250deg);
}
.arrow-3 {
	right: 100%;
	transform: rotate(120deg);
	bottom: 0;
}

/* talk area  */
.talk-area {
	z-index: 1;
}
.talk-area:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #00205b;
	opacity: 0.8;
	z-index: -1;
}
.talk-content p {
	color: #fff;
}

/*=== about section end=== */

/* project section area statr */
.gallary-wrap {
	position: relative;
	z-index: 1;
}
.gallary-wrap:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgb(0, 23, 84);
	background: linear-gradient(90deg, rgba(0, 23, 84, 1) 35%, rgba(2, 26, 83, 1) 88%);
	opacity: 0%;
	visibility: hidden;
	border-radius: 25px;
	transition: 0.45s;
}
.gallary-area .gallary-wrap:hover::before {
	opacity: 76%;
	visibility: visible;
}
.gallary-wrap img {
	border-radius: 25px;
}
.gallary-content p {
	color: var(--text-color7);
	font-size: 22px;
	line-height: 0.78;
}

.gallary-content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -86px;
	margin-left: -105px;
	opacity: 0;
	visibility: hidden;
	transition: 0.45s;
}
.gallary-area .gallary-wrap:hover .gallary-content {
	opacity: 1;
	visibility: visible;
}

/* project section area end */


/* projects area start */
.title-section p {
    font-size: 28px;
    line-height: 0.875;
    color: #97B2E6;
    font-weight: 600;
}

/* 
=========================================
Start Footer Section
=========================================
*/
.footer-sec {
	padding: 86px 0 15px;
}

.footer-wrapper {
	max-width: 1072px;
}

.footer-row {
	--bs-gutter-x: 18px;
	--bs-gutter-y: 40px;
}

.footer-content .footer-content-title {
	margin-bottom: 0;
}

.footer-hr {
	margin: 11px 0 14px;
	border: 0;
	border-bottom: 1px solid var(--third-border);
}

.footer-page {
	width: 50%;
}

.footer-page .footer-page-item:not(:last-child),
.footer-text div:not(:last-child) {
	margin-bottom: 10px;
}

.footer-page,
.footer-bottom-apge {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.footer-page .footer-page-item .footer-page-link:hover {
	color: var(--text-color7);
}

.footer-bottom-hr {
	margin: 40px 0 50px;
}

.footer-bottom-apge {
	margin-top: 39px;
	gap: 8px;
}

/* 
=========================================
End Footer Section
=========================================
*/

.jarallax {
	position: relative;
	z-index: 0;
}
.jarallax > .jarallax-img {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
